.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-link {
  color: #61dafb;
}

.repos {
  max-height: 30em;
  overflow: auto;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.repos::-webkit-scrollbar { 
  width: 0 !important;
}

.ui.list>.item>.icon+.content {
  text-align: left;
}

input {
  background: #fff !important;
  border: 1px solid #111 !important;
  padding: 1.2rem !important;
  outline: 0 !important;
}

button:hover {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
}

.app {
  min-width: 30rem;
}

@media only screen and (max-width: 600px) {
  .app{
    min-width: 85vw;
    min-height: 85vh;
  }
}
